*{
    padding: 0;
    margin: 0;
    border-box: border-sizing;
}

body{
    background-color: #854;
}

.container{
    margin: 0 auto;
    width: 90vw;
    margin-top: 100px;
    border-radius: 15px;
    background-color: #fff;
    border: red 1px solid;
    height: 70vh;
    box-shadow: 4px 4px 4px RGB(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}

.container>div:nth-child(2){
     flex-grow: 1;
}

.container>div:nth-child(3){
     background-color: #a58;
}