
*{
    padding: 0;
    margin: 0;
    border-box: border-sizing;
}

body{
    background-color: #854;
}

.container{
    margin: 0 auto;
    width: 50vw;
    margin-top: 100px;
    padding: 10px;
    border-radius: 15px;
    background-color: #fff;
    border: red 1px solid;
    height: 70vh;
    box-shadow: 4px 4px 4px RGB(0,0,0,0.7);
    display: flex;
    flex-direction: column;
}
.container>div:nth-child(2){
    flex-grow: 1;
}
.container>div:nth-child(3){
    background-color: #a58;
}

.form{
    width: 100%;
    height: 100%;
}

.row input{
    size: 22px;
    font-size: 18px;
    padding: 3px;
}

.row input:focus{
    background-color: #0A0;
}

.row{
    display: grid;
    grid-gap: 8px;
    padding: 10px;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
    "v11 v12"
    "v21 v22"
    "v31 v31";
}
.row label:nth-child(1){
    grid-area: v11;
}
.row label:nth-child(3){
    grid-area: v21;
}
.row label:nth-child(5){
    grid-area: v31;
    text-align: center;
    }
.row label:nth-child(5) button{
    width: 120px;
    padding: 15px;
}
.row input:nth-child(2){
    grid-area: v12;
}
.row input:nth-child(4){
    grid-area: v22;
}